marquee{
    background-color: #9cd5f2;
    color: rgb(6, 0, 0);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
  nav {
    color: #ddd;
    background-color: blanchedalmond;
    padding: 1rem 0;
    position: static;
    top: 0;
    z-index: 1000;
  }
  
  
  footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
    margin-top: 2rem;
  }